@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;400;500;600;700;800&family=Lato&family=Poppins:wght@100;300;400;500;600;700&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --clr-main: #d3d3d3;
  --clr-text-main: #272321;
  --clr-text-sub: #707070;
  --clr-text-special: #fc0;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.desktop {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}

.intro > svg {
  height: 32px;
  width: auto;
}

.intro > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.intro > span {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-text-sub);
}

.mobile,
.svgbutton {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.mobile > svg {
  height: 32px;
  width: auto;
  fill: var(--clr-text-main);
}

.mobile > svg:hover {
  fill: var(--clr-text-special);
}

.mobile > svg:active {
  fill: var(--clr-text-special);
}

.mobile > svg:focus {
  fill: var(--clr-text-special);
}

#line_logo,
.line_logo {
  border-bottom: 5px solid var(--clr-text-main);
  height: 10px;
  width: 13px;
  margin: 0 0.9rem;
}

#mobile_nav_pop_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
}

.mobile_nav_pop_up_content_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mobile_nav_pop_up_content_links > a {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-text-main);
  margin: 2rem 1rem;
}

.mobile_nav_pop_up_content_links > a:hover {
  color: var(--clr-text-special);
  transition: all 0.2s ease-in-out;
}

.mobile_nav_pop_up_content_links > a:focus {
  color: var(--clr-text-special);
  transition: all 0.2s ease-in-out;
}

.mobile_nav_pop_up_content_close {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 2.54rem 2rem 1rem 0;
}

#close_nav {
  fill: #272321;
  height: 48px;
  width: auto;
  cursor: pointer;
}

#close_nav :hover {
  fill: var(--clr-text-special);
  transition: all 0.2s ease-in-out;
}

#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#intro {
  color: #272321;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.special {
  color: var(--clr-text-special);
  font-weight: 600;
}

#headingSub {
  color: var(--clr-text-sub);
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.special2 {
  font-weight: 700;
  color: #272321;
}

.world {
  height: auto;
  width: 350px;
  order: 1;
  margin-right: 0.5rem;
}

table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
  font-family: 'Lato', sans-serif;
  color: var(--clr-text-sub);
  font-size: 0.9rem;
}

.intro-sec {
  display: flex;
  flex-direction: column;
  padding: 1.65rem 0;
}

.intro-sec > h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-text-main);
  margin: 0 0 0 1rem;
}

#users-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.userCountry {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--clr-text-main);
}

.submition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.submit {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.none {
  display: none;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-text-main);
  margin: 0 0 0 1rem;
}

#about {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.intro-det {
  justify-self: flex-start;
  align-self: flex-start;
}

.intro-det > p,
.det {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-text-sub);
  margin: 0 0 0 1rem;
  text-align: center;
}

.mbimg {
  justify-self: center;
  align-self: center;
  width: auto;
  height: 300px;
  margin-top: 2rem;
  margin-left: 2.2rem;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile {
    display: none;
  }

  .desktop > li {
    margin: 0 1rem;
    padding: 0.576rem;
  }

  .desktop > li > a {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--clr-text-main);
  }

  .desktop > li > a:hover {
    color: var(--clr-text-special);
    transition: all 0.2s ease-in-out;
  }

  #Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 54px;
  }

  .world {
    grid-column-start: -1;
    width: 650px;
    height: auto;
    margin-left: auto;
  }

  .intro > h2 {
    font-size: 1.5rem;
  }

  #about {
    display: grid;
  }

  .deskimg {
    margin: auto;
  }

  .det {
    text-align: left;
    margin-left: 0;
  }
}
